@import '../../../variables';

.item {
  width: 100%;
  display: flex;
  align-items: center;
  &:hover .item__delete {
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
  &:not(:last-child) {
    margin-bottom: 24px;
  }
  &__button {
    word-break: break-all;
    margin-right: 20px;
    font-weight: 400;
    font-size: 22px;
    color: #525252;
    &_active {
      font-weight: 700;
      color: $color-orange;
    }
    &:hover {
      color: $color-orange;
    }
  }

  &__delete {
    color: $color-orange;
    flex-shrink: 0;
    cursor: pointer;
    opacity: 0;
    margin-right: 0;
    margin-left: auto;
    width: 20px;
    height: 20px;
    transition: all 0.2s ease-in-out;
    &:hover {
      scale: 1.1;
      transition: scale 0.2s ease-in-out;
    }
  }
  &__none {
    display: none;
  }
}
