@import '../../../variables';

.select {
  flex-shrink: 0;
  width: 126px;
  padding: 6px 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $color-white;
  background-color: $color-orange;
  outline: none;
  border: none;
  border-radius: 4px;
  text-align: center;
  margin-right: 28px;
  appearance: none;
}

@media (max-width: 820px) {
  .select {
    width: 60px;
    margin-right: 0;
    margin-left: auto;
  }
}
