@import '../../../variables';

.newTack {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  &__input {
    padding: 12px 27px;
    font-weight: 400;
    font-size: 18px;
    width: 90%;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #f3f3f3;
  }
  &__add {
    height: 45px;
    width: 45px;
    color: $color-orange;
    &:hover {
      scale: 1.1;
      transition: scale 0.2s ease-in-out;
    }
    & svg {
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .newTack {
    margin-bottom: 20px;
    &__input {
      padding: 6px 16px;
      font-size: 14px;
    }
    &__add {
      height: 40px;
      width: 40px;
    }
  }
}

@media (max-width: 820px) {
  .newTack {
    margin-bottom: 20px;
    &__input {
      width: 94%;
      padding: 6px 16px;
      font-size: 14px;
    }
    &__add {
      height: 40px;
      width: 40px;
    }
  }
}
